{% extends 'base.html' %}
{% block title %}
Registration Page
{% endblock %}
{% block content %}
<body class="text-center">
   <div class="container">
      <br/>
      <br/>
      <form method="POST" class="form-register" style="color:white">
         {{ form.hidden_tag() }} <!-- Protection from Cross Site Request Forgery (CSRF) -->
            <img class="mb-4" src="https://ctl.s6img.com/society6/img/2DZ5pCs1LDlhj5rV7ITQmVdkYxU/w_700/posters/top/~artwork,fw_2718,fh_3618,fx_-450,iw_3618,ih_3618/s6-0089/a/34685025_16296864/~~/black-cat-dcv-posters.jpg" alt="DarishkaAMS" width="350" height="350">
            <h1 class="h3 mb-3 font-weight-normal">
                Let's Create Your Account
            </h1>
            <i style="color:pink"> Fields marked with * are required </i>
         <br>
          <br/>
          {{ form.first_name.label() }}
         {{ form.first_name(class="form-control", placeholder="First Name") }}
         {{ form.last_name.label() }}
         {{ form.last_name(class="form-control", placeholder="Last Name") }}
         {{ form.email_address.label() }}
         {{ form.email_address(class="form-control", placeholder="Email Address") }}

         {{ form.password_hash.label() }}
         {{ form.password_hash(class="form-control", placeholder="Password") }}
         {{ form.confirm_password.label() }}
         {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
         <br>
         <div class="checkbox mb-3">
            <h6>Already have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('user.login_page') }}">Login</a>
         </div>
         {{ form.submit(class="btn btn-primary btn-lg") }}
      </form>
   </div>
</body>
{% endblock %}
