{% extends 'base.html' %}

{% block title %}
Departments
{% endblock%}

{% block content %}

{% if current_user.is_authenticated %}
<body>
<div class="table-wrapper">
    <br/>
    <br/>
    <h1 style="text-align:center;">Departments</h1>
    {% if departments %}
    <hr class="intro-divider">
    <div class="center">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th> Name</th>
                <th> Description</th>
                <th> Employee Count</th>
                <th> Average Salary</th>
                <th> Average Age</th>
                <th> Edit</th>
                <th> Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for department in departments %}
            <tr>
                <td> {{ department.name }}</td>
                <td> {{ department.head }}</td>
                <td>
                    {% if department.employees %}
                    {{ department.employees.count() }}
                    {% else %}
                    0
                    {% endif %}
                </td>
<!--                <td>-->
<!--                    &lt;!&ndash;-->
<!--                    Calculate the average salary for each department based on-->
<!--                    employee salary data and the number of employees in the department-->
<!--                    &ndash;&gt;-->
<!--                    {% set salaries = [] %}-->
<!--                    {% for employee in department.employees | sort(attribute='salary') %}-->
<!--                    {% if employee.salary %}-->
<!--                    {% if salaries.append(employee.salary) %}-->
<!--                    {% endif %}-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                    {% if department.employees.count() > 0 %}-->
<!--                    ${{ (salaries | sum / salaries | count) | round(2) }}-->
<!--                    {% else %}-->
<!--                    0-->
<!--                    {% endif %}-->
<!--                </td>-->
<!--                <td>-->
<!--                    &lt;!&ndash;-->
<!--                    Calculate the average age of employees for each department based on-->
<!--                    employee birthdays and the number of employees in the department-->
<!--                    &ndash;&gt;-->
<!--                    {% set ages = [] %}-->
<!--                    {% for employee in department.employees %}-->
<!--                    {% if employee.birthday %}-->
<!--                    {% if ages.append(employee.calculate_age(employee.birthday)) %}{% endif %}-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                    {% if department.employees.count() > 0 %}-->
<!--                    {{ (ages | sum / ages | count) | round(1) }} y.o.-->
<!--                    {% else %}-->
<!--                    0-->
<!--                    {% endif %}-->
<!--                </td>-->
                <td>
                    <a href="{{ url_for('user.edit_department', id=department.id) }}">Edit</a>
                </td>
                <td>
                    <a href="{{ url_for('user.delete_department', id=department.id) }}">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="text-align: center">
        {% else %}
        <div style="text-align: center">
            <i style="color:pink"> It looks like no Departments have been added. </i>
            <hr class="intro-divider">
            {% endif %}
            <a href="{{ url_for('user.add_department') }}" class="btn btn-primary btn-lg">
                <i class="fa fa-plus"></i>
                Add Department
            </a>
        </div>
    </div>
</div>
</body>

{% endif %}
{% endblock %}
