{% extends 'base.html' %}

{% block title %}
Departments
{% endblock%}

{% block content %}

{% if current_user.is_authenticated %}
<div align="center">
    <br/>
    <img src="https://cdn.shopify.com/s/files/1/0863/0604/products/tuxedocatthumb.jpg?v=1531865098"
         alt="back_cat" width="350" height="350">
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3" align="center" style="color:#343a40">

                    <h2> {{ department.name }} Department
                        <br/>
                        <small> <i style="color:pink"> brief info about </i> </small>
                    </h2>
                    <b> Hed of the department </b>- {{ department.head }}
                    <br>
                    <b> Employees {{ department.employees.count() }} - </b>
                    <br>
                    {% for employee in department.employees %}
                    <tr>
                        <td> {{ employee.first_name }}</td>
                        <td> {{ employee.last_name }}</td>
                        <br/>
                    </tr>
                    {% endfor %}
                    <b> Average Salary - </b>

                    {% set salaries = [] %}
                    {% for employee in department.employees | sort(attribute='salary') %}
                    {% if employee.salary %}
                    {% if salaries.append(employee.salary) %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% if department.employees.count() > 0 %}
                    ${{ (salaries | sum / salaries | count) | round(2) }}
                    {% else %}
                    0
                    {% endif %}
                    <br>
                    <a href="{{ url_for('user.update_department', id=department.id) }}"
                       class="btn btn-warning btn-sm">
                        Update
                    </a>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#exampleModalCenter{{department.id}}">
                        Delete
                    </button>
                    <div class="modal fade" id="exampleModalCenter{{department.id}}">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="color:black">
                                <div class="modal-header">
                                    <h5 align="center">
                                        Deleting {{ department.name }} Department Permanently
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" align="center">
                                    <p>Do you really want me to delete</p>
                                    <h3>{{department.name}}?</h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <form action="{{ url_for('user.delete_department', id=department.id) }}"
                                          method="post">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}