{% extends 'base.html' %}

{% block title %}
Employees
{% endblock%}

{% block content %}

<!--{% if current_user.is_authenticated %}-->
<body>
<div class="container">
    <div class="table-wrapper">
        <br/>
        <br/>
        <h1 style="text-align:center;"> Employees Pool</h1>
        {% if employees %}
        <hr class="intro-divider">
        <div class="center">
            <h4> Select a Birth Date Range </h4>
            <form action="" method='POST' name="myform">
                <div class="input-group date" data-provide="datepicker">
                    <div class="input-group-addon">
                         <span class="glyphicon glyphicon-th">
                {{ form.csrf_token }}
                {{form.hidden_tag()}}
                {{ form.start_date.label() }}
                {{form.start_date(class='form-control', type="date", placeholder="Start Date")}}
                {{ form.end_date.label() }}
                {{ form.end_date(class='form-control', type="date", placeholder="Start Date") }}
                <p>
                    <br>
                    {{form.submit(class="btn btn-primary btn-sm")}}
                                                <a href="{{ url_for('user.retrieve_employees', page=1) }}"
                                                   class="btn btn-secondary btn-sm">
                    <i class="fa fa-plus"></i>
                    Reset
                </a>
                </p>
                         </span>
                    </div>
                </div>
            </form>

            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Email Address</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Update</th>
                    <th>Assign</th>
                    <th>Delete</th>
                </tr>

                </thead>
                <tbody>
                {% for employee in employees.items %}
                <tr>

                    <td>{{employee.first_name}}</td>
                    <td>{{employee.last_name}}</td>
                    {% if employee.date_of_birth %}
                    <td>{{employee.date_of_birth}}</td>
                    {% else %}
                    <td> TBA</td>
                    {% endif %}
                    <td>{{employee.email_address}}</td>
                    {% if employee.department %}
                    <td>{{employee.department}}</td>
                    {% else %}
                    <td> TBD</td>
                    {% endif %}
                    {% if employee.salary %}
                    <td>$ {{employee.salary}}</td>
                    {% else %}
                    <td> TBD</td>
                    {% endif %}

                    <td>
                        <a href="{{ url_for('user.update_employee', id=employee.id) }}"
                           class="btn btn-warning btn-sm">
                            Update
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('user.assign_employee', id=employee.id) }}"
                           class="btn btn-success btn-sm">
                            Assign
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModalCenter{{current_user.id}}">
                            Delete
                        </button>
                        <div class="modal fade" id="exampleModalCenter{{current_user.id}}">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" style="color:black">
                                    <div class="modal-header">
                                        <h5 align="center">
                                            Deleting Account Permanently
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" align="center">
                                        <p>Do you really want me to delete</p>
                                        <h3>{{current_user.first_name}} {{current_user.last_name}} account?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Cancel
                                        </button>
                                        <form action="{{ url_for('user.delete_employee', id=current_user.id) }}"
                                              method="post">
                                            <input type="submit" value="Delete" class="btn btn-danger">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if employees.has_prev %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('user.retrieve_employees', page=employees.prev_num) }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                    {% endif %}
                    {% for page in employees.iter_pages(left_edge=3, right_edge=3) %}
                    {% if page %}
                    {% if page==employees.page %}
                    <li class="page-item active"><a class="page-link" href="{{ url_for('user.retrieve_employees', page=page) }}">{{ page
                        }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('user.retrieve_employees', page=page) }}">{{ page }}</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if employees.has_next %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('user.retrieve_employees', page=employees.next_num) }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>
        <div style="text-align: center">
            {% else %}
            <div style="text-align: center">
                <i style="color:pink"> It looks like there is no Employees here. </i>
                <hr class="intro-divider">
                {% endif %}
                <a href="{{ url_for('user.create_employee') }}" class="btn btn-primary btn-lg">
                    <i class="fa fa-plus"></i>
                    Add Employee
                </a>
                <a href="{{ url_for('user.retrieve_employees', page=1) }}" class="btn btn-secondary btn-lg">
                    <i class="fa fa-plus"></i>
                    Go Back
                </a>
            </div>
        </div>
    </div>
</div>
</body>

<!--{% endif %}-->
{% endblock %}
