{% extends 'base.html' %}

{% block title %}
{{ current_user.first_name }} | {{ current_user.last_name }}
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}

<body class="text-center">
<div class="container">
    <br/>
    <br/>
    <form method="POST" class="form-employee" style="color:white">
        {{ form.hidden_tag() }}
        <img class="mb-4"
             src="https://res.cloudinary.com/teepublic/image/private/s--_qmoVU7I--/c_crop,x_10,y_10/c_fit,w_1109/c_crop,g_north_west,h_1260,w_1260,x_-76,y_-109/co_rgb:ffffff,e_colorize,u_Misc:One%20Pixel%20Gray/c_scale,g_north_west,h_1260,w_1260/fl_layer_apply,g_north_west,x_-76,y_-109/bo_180px_solid_white/e_overlay,fl_layer_apply,h_1260,l_Misc:Art%20Print%20Bumpmap,w_1260/e_shadow,x_6,y_6/c_limit,h_1134,w_1134/c_lpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1468533284/production/designs/584729_1.jpg"
             alt="DarishkaAMS" width="350" height="350">

        <h1 class="h3 mb-3 font-weight-normal">Update Your Account</h1>

        <br>
        <br/>
        {{ form.first_name.label() }}
        {{ form.first_name(class="form-control", placeholder="First Name") }}
        {{ form.last_name.label() }}
        {{ form.last_name(class="form-control", placeholder="Last Name") }}
        {{ form.email_address.label() }}
        {{ form.email_address(class="form-control", placeholder="Email Address") }}
        {{ form.date_of_birth.label() }}
        {{ form.date_of_birth(class="form-control", type="date", max="2003-01-01", placeholder="Date of Birth") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-primary") }}
        <a href="{{ url_for('user.retrieve_employee', id=current_user.id) }}"
           class="btn btn-secondary btn-lg">
            Go Back
        </a>
    </form>
</div>
</body>

{% endif %}
{% endblock %}